<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../images/icon.png">
    <link rel="stylesheet" href="../../styles/styles_base.css">
    <link rel="stylesheet" href="../../styles/styles_fonts.css">
    <link rel="stylesheet" href="../../styles/styles_post.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="../../js/scripts.js"></script>
  </head>
  <body>

    <div class="topnav" id="myTopnav">
        <a href="../../index.html" class="ubuntulight">Home</a>
        <a href="../../templates/profile.html" class="ubuntulight">Profile</a>
        <a href="../../templates/academic.html" class="ubuntulight">Academic</a>
        <a href="../../templates/professional.html" class="ubuntulight">Professional</a>
        <a href="../../templates/research.html" class="ubuntulight">Research</a>
        <a href="../../templates/skills.html" class="ubuntulight">Skills</a>
        <a href="../../templates/blog.html" class="ubuntulight active">Blog</a>
        <a href="../../templates/contact.html" class="ubuntulight">Contact</a>
        <a href="javascript:void(0);" class="icon" onclick="menuMobile()">
          <i class="fa fa-bars"></i>
        </a>
    </div>

    <div>
      <a class="back ubuntumedium" href="../../templates/blog.html">
        BACK
      </a>
    </div>

    <div class="block">
      <div class="post">
        <div class="logoblock">
          <img class="logo" src="../../images/logo_trans.png">
        </div>
        <div class="titleblock">
          <p class="title ubuntumedium">
            TITLE
          </p>
        </div>
        <div class="postblock">
          <p class="posttext ubunturegular">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fringilla placerat velit, vel aliquam libero ornare nec.
            Suspendisse aliquet dolor elit, ac fringilla dolor egestas non. Etiam tincidunt lacinia risus eget tincidunt. Vivamus finibus
            finibus odio, et pretium tortor scelerisque sed. In magna dolor, posuere nec auctor non, eleifend gravida diam. Integer nec
            dolor ut neque laoreet feugiat et nec ante. Phasellus scelerisque lorem nec nulla eleifend, at malesuada erat accumsan.
            Donec nec pretium tortor. Vivamus at diam et risus egestas egestas. In faucibus leo pulvinar feugiat pellentesque. Orci varius
            natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc risus enim, aliquam quis laoreet nec, rutrum at mi.

            Mauris quis orci at libero auctor egestas. Ut accumsan nisi est, gravida porttitor elit suscipit non. Etiam vitae rutrum nisl.
            Vivamus faucibus turpis ac lectus ornare, sed porttitor elit tincidunt. Praesent feugiat, odio pulvinar mattis eleifend, tellus
            leo rhoncus augue, eu scelerisque leo quam ac nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
            inceptos himenaeos. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ante elit, fermentum vel ipsum ac, dapibus
            vehicula magna. Aenean ut diam rhoncus diam cursus viverra at vel orci. Vestibulum consequat lacinia dolor eget porta. Duis
            finibus, arcu ac ultricies euismod, nulla metus bibendum diam, in feugiat leo mi id augue. Suspendisse id nibh sollicitudin,
            gravida leo ac, finibus mi.

            In hac habitasse platea dictumst. Etiam gravida rutrum est, nec pellentesque purus. Suspendisse vel odio sit amet nulla
            pellentesque sodales id eu dolor. Nam iaculis nulla ac nisi aliquam lobortis. Proin malesuada tristique facilisis. Vestibulum
            rhoncus purus sit amet orci pretium suscipit. Curabitur posuere cursus arcu. Nam auctor risus lacus, eu volutpat ipsum convallis
            convallis.
          </p>
        </div>
      </div>
    </div>

    <div>
      <a class="back ubuntumedium" href="../../templates/blog.html">
        BACK
      </a>
    </div>

  </body>
</html>
