<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boris Antonio's website.</title>
    <link rel="icon" href="../../images/icon.png">
    <link rel="stylesheet" href="../../styles/styles_base.css">
    <link rel="stylesheet" href="../../styles/styles_fonts.css">
    <link rel="stylesheet" href="../../styles/styles_post.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="../../js/scripts.js"></script>
  </head>
  <body>

    <div class="topnav" id="myTopnav">
        <a href="../../index.html" class="ubuntulight">Home</a>
        <a href="../../templates/profile.html" class="ubuntulight">Profile</a>
        <a href="../../templates/academic.html" class="ubuntulight">Academic</a>
        <a href="../../templates/professional.html" class="ubuntulight">Professional</a>
        <a href="../../templates/research.html" class="ubuntulight">Research</a>
        <a href="../../templates/skills.html" class="ubuntulight">Skills</a>
        <a href="../../templates/blog.html" class="ubuntulight active">Blog</a>
        <a href="../../templates/contact.html" class="ubuntulight">Contact</a>
        <a href="javascript:void(0);" class="icon" onclick="menuMobile()">
          <i class="fa fa-bars"></i>
        </a>
    </div>

    <div>
      <a class="back ubuntumedium" href="../../templates/blog.html">
        BACK
      </a>
    </div>

    <div class="block">
      <div class="post">
        <div class="logoblock">
          <img class="logo" src="../../images/logo_trans.png">
        </div>
        <div class="titleblock" id="title_post6">
          <p class="title ubuntumedium" id="thetitle_post6">
            Ingeniería Social
          </p>
        </div>
        <div class="postblock">
          <p class="posttext ubunturegular">

            Podríamos pensar que el método más utilizado y más efectivo al
            momento de lanzar ataques informáticos sería una técnica de
            hackers muy avanzada o algún virus altamente peligroso y complejo...
            Pero no, la manera más efectiva en la que personas mal
            intencionadas logran comprometer la seguridad de sistemas
            informáticos es aprovechándose del eslabón más vulnerable
            en una infraestructura de IT, en otras palabras, el usuario.<br><br>

            Seguros muchos han recibidos correos de sus bancos, universidades,
            trabajos u otras instituciones advirtiendoles de los riesgos de
            <i>phishing</i> o preparando el personal en caso de ser víctimas de ingeniería
            social y comprometer la seguridad y privacidad de los sistemas
            informáticos del organismo, esto tiene sus razones.<br><br>

            El <i>phishing</i> es una técnica utilizada por ciberdelincuentes para
            engañar al usuario y robarle información sensitiva, ya sean datos
            personales o liados a su cuenta dentro del sistema. Los atacantes
            utilizan distintas técnicas de Ingeniería Social para obtener
            contraseñas, nombres de usuario, datos de localización, información
            bancaria y tarjetas de crédito, números de teléfono, credenciales de
            redes sociales y/o cualquier otro tipo de información que pueda
            exponer la privacidad y seguridad del usuario. El objetivo de los
            malhechores es obtener la información para luego se hacer pasar
            por usuarios legítimos y poder tener acceso a los servicios o
            plataformas de la víctima, una vez dentro podrá obtener información,
            robar dinero, leer emails o tener acceso a información confidencial
            y finalmente violar la privacidad del usuario.<br><br>

            La finalidad del atacante al utilizar distintas técnicas de
            ingeniería social es de personificar una entidad legítima o real,
            por lo general creando un sitio web malicioso y haciéndose pasar
            por el banco, la universidad o cualquier otra plataforma y engañar
            al usuario para que este finalmente introduzca o dé sus datos al
            sitio web falsificado. Entre las conocidas técnicas de ingeniería
            social utilizadas podemos mencionar los correos electrónicos, en
            el que el atacante dice ser parte de la empresa o institución y
            en el que pide al usuario que le envíe sus datos personales, o
            que debe dar click a un enlace creado por el atacante que va a
            re-dirigirnos al sitio peligroso. Este sitio web puede haber
            sido diseñado de manera que puede verse idéntico al sitio web
            genuino, sin embargo está creado para robar información del usuario,
            lo que puede provocar el robo de identidad. De manera similar los
            atacantes pueden utilizar algún otro sistema de mensajería instantánea,
            SMS o llamadas telefónicas.<br><br>

            Otro de los posibles objetivos de un atacante al utilizar phishing
            es de esparcir malware, adware o algún virus en general, para
            tomar control del dispositivo del usuario o en su defecto robar información.<br><br>

            Según <i>Karspersky</i>, 482 millones de intentos de ataques fueron
            detectados en 2018, frente a unos 250 millones el año anterior.
            Los atacantes se valen de eventos o productos que estén “a la moda”
            para llamar la atención del usuario, por ejemplo se detectaron
            millones de intentos de robo de información aprovechándose de la
            Copa del Mundo de Rusia 2018, o el cambio de legislatura GDPR en
            Europa, o la puesta en venta del nuevo iPhone, etc. Otro foco de
            actividad es el mercado de las criptomonedas.<br><br>

            No es sencillo detectar intentos de <i>phishing</i> o mensajes fraudulentos
            cuando diariamente recibimos decenas de correos electrónicos de
            las distintas instituciones de las que somos parte o de las
            plataformas en la que estamos inscritos, pero aquí les dejo una
            lista de consejos e ítems a verificar que podrían indicar la
            presencia de un mensaje malicioso:<br><br>
          </p>
          <p class="posttext ubunturegular">
            <ul class="posttext ubunturegular">
              <li>
                Si recibimos un email de nuestro banco u alguna otra institución
                formal debemos verificar el dominio del que està siendo enviado
                el  correo, por ejemplo <i>@[nombredelbanco].com, @[nombredelauniversidad].pa.com,
                @[ministerio].gob.pa</i>, etc. Si recibimos un mensaje que nos pida
                información personal de una dirección tipo <i>@gmail.com, @hotmail.com,</i>
                etc. es muy probable que se trate de <i>phishing.</i>
              </li><br>
              <li>
                Verificar que el sitio web al que vayamos a introducir nuestra
                información es efectivamente una versión segura, por ejemplo que
                el enlace comience por <b>https://</b> y que junto al enlace en el
                navegador aparezca un candado. Esto nos dice que el sitio web
                posee un certificado y la comunicación está asegurada.
              </li><br>
              <li>
                Si recibimos un correo de un remitente desconocido que contiene
                archivos adjuntos que no pedimos, o archivos innecesarios con
                extensiones extrañas, no abrirlos!
              </li><br>
              <li>
                No proporcione información confidencial o comprometedora a
                nadie por teléfono, en persona o a través del correo electrónico.
              </li><br>
              <li>
              Verifique el enlace o el nombre del sitio web al que va a
              acceder, por ejemplo verificar que está yendo a <i>www.google.com</i>
              y no a <b>www.gooogle.com</b> o <b>www.goolge.com</b>. Este tipo de ataques se conocen como <i>typosquatting</i>,
              y se basan en utilizar nombres de dominio muy parecidos al sitio legítimo,
              para luego crear un sitio web muy parecido para llevar a cabo el robo de información.
              </li><br>
            </ul>
          </p>
          <p class="posttext ubunturegular">

            Podría mencionar muchos consejos más, pero el mensaje final de esta entrada
            es: siempre desconfiar de los mensajes que recibimos y verificar tres
            veces antes de introducir información sensitiva dentro de un sitio web,
            solo toma unos segundos!<br><br>

            ~ Boris Antonio.
          </p>
        </div>
      </div>
    </div>

    <div>
      <a class="back ubuntumedium" href="../../templates/blog.html">
        BACK
      </a>
    </div>

  </body>
</html>
