<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boris Antonio's website.</title>
    <link rel="icon" href="../../images/icon.png">
    <link rel="stylesheet" href="../../styles/styles_base.css">
    <link rel="stylesheet" href="../../styles/styles_fonts.css">
    <link rel="stylesheet" href="../../styles/styles_post.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="../../js/scripts.js"></script>
  </head>
  <body>

    <div class="topnav" id="myTopnav">
        <a href="../../index.html" class="ubuntulight">Home</a>
        <a href="../../templates/profile.html" class="ubuntulight">Profile</a>
        <a href="../../templates/academic.html" class="ubuntulight">Academic</a>
        <a href="../../templates/professional.html" class="ubuntulight">Professional</a>
        <a href="../../templates/research.html" class="ubuntulight">Research</a>
        <a href="../../templates/skills.html" class="ubuntulight">Skills</a>
        <a href="../../templates/blog.html" class="ubuntulight active">Blog</a>
        <a href="../../templates/contact.html" class="ubuntulight">Contact</a>
        <a href="javascript:void(0);" class="icon" onclick="menuMobile()">
          <i class="fa fa-bars"></i>
        </a>
    </div>

    <div>
      <a class="back ubuntumedium" href="../../templates/blog.html">
        BACK
      </a>
    </div>

    <div class="block">
      <div class="post">
        <div class="logoblock">
          <img class="logo" src="../../images/logo_trans.png">
        </div>
        <div class="titleblock" id="title_post1">
          <p class="title ubuntumedium">
            Introducción
          </p>
        </div>
        <div class="postblock">
          <p class="posttext ubunturegular">
            Alguna vez has buscado tu nombre en Google? Encontraste algo de lo que ni siquiera te acordabas?
            Una publicación o una foto en Facebook de hace más de 10 años, o algo que se supone que no debería estar ahí?
            Alguna vez te has preguntado cuánta información hay sobre ti en internet, y qué pasaría si esta cae en las manos
            equivocadas?<br><br>

            Esta es la primera publicación de “Anónimos en la red”, una serie de escritos relacionados con la privacidad de
            nuestros datos en internet y el impacto que podría tener la exposición de información sensible en la vida de
            personas como tu y yo.<br><br>

            En las próximas publicaciones estaremos hablando sobre varios temas, como OSINT (Open Source Intelligence); el
            poder de Google y Google Hacking; filtraciones de credenciales, robo de datos y <i>haveibeenpwned;</i> ingeniería social
            y phishing; Reglamentos de protección de datos en Latinoamérica; herramientas para recuperar información, entre
            otros temas.<br><br>

            Si estás activo en internet (o lo estuviste alguna vez) estos temas podrían ser de tu interés, pues la red no
            olvida, toda la información desde que empezaste a utilizar internet está almacenada en algún sitio y así será
            por muchos años. Nadie es verdaderamente anónimo aquí.
          </p>
        </div>
      </div>
    </div>

    <div>
      <a class="back ubuntumedium" href="../../templates/blog.html">
        BACK
      </a>
    </div>

  </body>
</html>
