<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boris Antonio's website.</title>
    <link rel="icon" href="../images/icon.png">
    <link rel="stylesheet" href="../styles/styles_base.css">
    <link rel="stylesheet" href="../styles/styles_fonts.css">
    <link rel="stylesheet" href="../styles/styles_academic.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="../js/scripts.js"></script>
  </head>
  <body>

    <div class="topnav" id="myTopnav">
        <a href="../index.html" class="ubuntulight">Home</a>
        <a href="../templates/profile.html" class="ubuntulight">Profile</a>
        <a href="../templates/academic.html" class="ubuntulight active">Academic</a>
        <a href="../templates/professional.html" class="ubuntulight">Professional</a>
        <a href="../templates/research.html" class="ubuntulight">Research</a>
        <a href="../templates/skills.html" class="ubuntulight">Skills</a>
        <a href="../templates/blog.html" class="ubuntulight">Blog</a>
        <a href="../templates/contact.html" class="ubuntulight">Contact</a>
        <a href="javascript:void(0);" class="icon" onclick="menuMobile()">
          <i class="fa fa-bars"></i>
        </a>
    </div>

    <div style="text-align:left;margin:2%;padding:0% 1.3%;font-size:180%">
      <h1 class="righteousregular"> Academic </h1>
    </div>

    <div class="university">
      <div class="logoblock">
        <img src="../images/logo-uga.png" class="logo" id="gr">
      </div>
      <div class="text">
        <div class="careerblock">
          <p class="ubuntumedium career">
            M2 - CyberSecurity & Cryptography
          </p>
        </div>
        <div class="dateblock">
          <p class="catamaranmedium date">
            '18 - '19
          </p>
        </div>
        <div class="uniblock">
          <p class="ubunturegular uni">
            Université Grenoble-Alpes/ENSIMAG
          </p>
        </div>
        <div class="locationblock">
          <p class="ubuntulight location">
            Grenoble, France
          </p>
        </div>
      </div>
    </div>

    <div class="university" style="margin-top:2%;">
      <div class="logoblock">
        <img src="../images/logo_ubdx.png" class="logo" id="bdx">
      </div>
      <div class="text">
        <div class="careerblock">
          <p class="ubuntumedium career" id="carreerutp">
            M1 - CyberSecurité & Cryptographie
          </p>
        </div>
        <div class="dateblock">
          <p class="catamaranmedium date">
            '17 - '18
          </p>
        </div>
        <div class="uniblock">
          <p class="ubunturegular uni">
            Université de Bordeaux
          </p>
        </div>
        <div class="locationblock">
          <p class="ubuntulight location">
            Bordeaux, France
          </p>
        </div>
      </div>
    </div>

    <div class="university" style="margin-top:2%;">
      <div class="logoblock">
        <img src="../images/logo_utp.png" class="logo" id="utp">
      </div>
      <div class="text">
        <div class="careerblock">
          <p class="ubuntumedium career">
            Ing. en Sistemas y Computación
          </p>
        </div>
        <div class="dateblock">
          <p class="catamaranmedium date">
            '12 - '17
          </p>
        </div>
        <div class="uniblock">
          <p class="ubunturegular uni">
            Universidad Tecnológica de Panamá
          </p>
        </div>
        <div class="locationblock">
          <p class="ubuntulight location">
            Panamá, Panamá
          </p>
        </div>
      </div>
    </div>

  </body>
</html>
