<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/styles_base.css">
  <link rel="stylesheet" href="../styles/styles_fonts.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="../js/scripts.js"></script>
</head>
<body>

  <div class="topnav" id="myTopnav">
      <a href="../index.html" class="ubuntulight">Home</a>
      <a href="../templates/profile.html" class="ubuntulight active">Profile</a>
      <a href="../templates/academic.html" class="ubuntulight">Academic</a>
      <a href="../templates/professional.html" class="ubuntulight">Professional</a>
      <a href="../templates/skills.html" class="ubuntulight">Skills</a>
      <a href="../templates/blog.html" class="ubuntulight">Blog</a>
      <a href="../templates/contact.html" class="ubuntulight">Contact</a>
      <a href="javascript:void(0);" class="icon" onclick="menuMobile()">
        <i class="fa fa-bars"></i>
      </a>
  </div>

<h1 style="text-align:center;" class="ubunturegular"> Home </h1>

</body>
</html>
