<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>

  <ul class="topnav">
    <li><a class="ubuntulight active" href="#home">Home</a></li>
    <li><a href="#news" class="ubuntulight">News</a></li>
    <li><a href="#contact" class="ubuntulight">Contact</a></li>
    <li class="right"><a href="#about" class="ubuntulight">About</a></li>
  </ul>

<h1 style="text-align:center;" class="ubunturegular"> Dev Panel </h1>

</body>
</html>
