<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boris Antonio's website.</title>
    <link rel="icon" href="../images/icon.png">
    <link rel="stylesheet" href="../styles/styles_base.css">
    <link rel="stylesheet" href="../styles/styles_fonts.css">
    <link rel="stylesheet" href="../styles/styles_profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="../js/scripts.js"></script>
  </head>
  <body>

    <div class="topnav" id="myTopnav">
        <a href="../index.html" class="ubuntulight" id="home">Home</a>
        <a href="../templates/profile.html" class="ubuntumedium active">Profile</a>
        <a href="../templates/academic.html" class="ubuntulight">Academic</a>
        <a href="../templates/professional.html" class="ubuntulight">Professional</a>
        <a href="../templates/research.html" class="ubuntulight">Research</a>
        <a href="../templates/skills.html" class="ubuntulight">Skills</a>
        <a href="../templates/blog.html" class="ubuntulight">Blog</a>
        <a href="../templates/contact.html" class="ubuntulight">Contact</a>
        <a href="javascript:void(0);" class="icon" onclick="menuMobile()">
          <i class="fa fa-bars"></i>
        </a>
    </div>

    <div style="text-align:left;margin-left:2%;margin-top:2%;padding:0% 1.3%;font-size:180%">
      <h1 class="righteousregular"> Profile </h1>
    </div>

    <div class="block">
      <div class="profile">
        <div class="photoblock">
          <img class="photo" src="../images/cv_picture.png">
        </div>

        <div class="textblock cabinregular" >
          <p class="text">
            Bienvenidos a mi sitio web!<br><br>
            Soy Boris Antonio y aunque ahora vivo en Ciudad de Panamá, pasé toda mi infancia y adolescencia
            en las Tablas, donde hice mis estudios secundarios. Después llegué a la capital para hacer mi carrera en la Universidad
            Tecnológica de Panamá. Siempre me gustaron las computadoras y el mundo de las tecnologías, así que decidí estudiar Ingenería en
            Sistemas y Computación. Cuando terminé mi tesis de ingeniería estaba decidido que quería salir del país a especializarme. Pasé
            dos años y medio en Francia estudiando mi maestría en Ciberseguridad y Criptografía y hoy laboro en una empresa con una amplia cartera
            de soluciones de seguridad y protección de datos.<br>
          </p>
          <p class="text">
            Las personas que me conocen me caracterizan como alguien puntual y responsable, hablo tres idiomas y me gusta compartir mis conocimientos a los demás.
            Entre mis pasatiempos está participar en challenges de CTF, aprender un poco más sobre arte, practicar escalada,
            me gusta escribir y leer (principalmente novelas distópicas), llenar mi casa de plantas, escuchar buena música y como siempre un buen café.
          </p>
        </div>

        <div class=buttonblock>
          <button class="ubunturegular button_download" type="submit" onclick="window.open('../files/boris_cv_2023.pdf')">Download my CV!</button>
        </div>

      </div>
    </div>

  </body>
</html>
