<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>

  <ul class="topnav">
    <li><a href="../index.html" class="ubuntulight">Home</a></li>
    <li><a href="../templates/profile.html" class="ubuntulight">Profile</a></li>
    <li><a href="../templates/academic.html" class="ubuntulight">Academic</a></li>
    <li><a href="../templates/professional.html" class="ubuntulight active">Profesional</a></li>
    <li><a href="../templates/skills.html" class="ubuntulight">Skills</a></li>
    <li><a href="../templates/blog.html" class="ubuntulight">Blog</a></li>
    <li><a href="../templates/contact.html" class="ubuntulight">Contact</a></li>
  </ul>

<h1 style="text-align:center;" class="ubunturegular"> Professional </h1>

</body>
</html>
