
.back {
  float:right;
  margin-right: 2%;
  font-size: 120%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.back:link{
  color:white;
  text-decoration: none;
}

.back:visited{
  color:white;
  text-decoration: none;
}

.back:hover{
  color: #453054;
  text-decoration: none;
}

.post .logoblock{
  margin-left:40%;
  width: 20%;
  margin-top: 5%;
}

.post .logoblock .logo{
  width: 100%;
}

.post .titleblock{
  margin-left:40%;
  width: 20%;
  margin-top: 2%;
}

.post .titleblock .title{
  font-size: 220%;
  margin-left: 35%;
}

.post .postblock{
  margin-left: 8%;
  margin-right: 8%;
}

.post .postblock .posttext{
  font-size: 120%;
  text-align: justify;
  text-justify:inter-word;
}

@media screen and (max-width: 600px) {
  .back {
    float:right;
    margin-right: 2%;
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: 120%;
  }

  .post .logoblock{
    margin-left:25%;
    width: 50%;
    margin-top: 15%;
  }

  .post .titleblock{
    margin-left:32%;
    width: 20%;
    margin-top: 1%;
  }
}
