#title_post1{
  margin-left: 37%;
}

#title_post2{
  margin-left: 40%;
}

.block{
  background-color: #AEC8D9;
  margin-left: 3.5%;
  margin-right: 3.5%;
}

.back {
  float:right;
  margin-right: 2%;
  font-size: 120%;
  margin-top: 2%;
  margin-bottom: 3%;
}

.back:link{
  color:white;
  text-decoration: none;
}

.back:visited{
  color:white;
  text-decoration: none;
}

.back:hover{
  color: #453054;
  text-decoration: none;
}

.post .logoblock{
  margin-left:38%;
  width: 25%;
  margin-top: 6%;
  padding-top: 2%;
}

.post .logoblock .logo{
  width: 100%;
}

.post .titleblock{
  margin-left:40%;
  width: 20%;
  margin-top: 2%;
}

.post .titleblock .title{
  font-size: 220%;
  margin-left: 35%;
  color: #1B3B51;
}

.post .postblock{
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 2%;
}

.post .postblock .posttext{
  font-size: 150%;
  text-align: justify;
  text-justify:inter-word;
  color: #1B3B51;
}

.enlace{
  text-decoration: none;
}

.enlace.link{
  text-decoration: none;
  color: #0D1D28;
}

.enlace:visited{
  color: #0D1D28;
  text-decoration: none;
}

.enlace:hover{
  color: #453054;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  #title_post1{
    margin-left: 18%;
  }

  #title_post2{
    margin-left: 30%;
  }

  .back {
    float:right;
    margin-right: 2%;
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: 120%;
  }

  .post .logoblock{
    margin-left:25%;
    width: 50%;
    margin-top: 15%;
    padding-top: 4%;
  }

  .post .titleblock{
    margin-left:32%;
    width: 20%;
    margin-top: 1%;
  }
}
