/*BEGINNING PROFESSIONAL*/
.company {
  background-color: #AEC8D9;
  overflow: auto;
  margin-left: 3.5%;
  margin-right: 3.5%;
}

.company .nameblock{
  float:left;
  margin-left:3%;
  margin-top:2.2%;
}

.company .nameblock .name{
  font-size: 200%;
  margin-top:2%;
  margin-bottom:0%;
  margin-left:0%;
  color: #1B3B51;
}

.company .logoblock{
  float:left;
  width:30%;
  margin-left:9%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.company .logoblock .logo{
  width:100%;
  margin-top:2%;
  margin-bottom:2%;
}

.company .dateblock{
  float:right;
  margin-right:12%;
  margin-top:3.7%;
}

.company .dateblock .date{
  font-size:220%;
  margin-top:0%;
  margin-bottom:0%;
  color: #1B3B51;
}

.company .descriptionblock{
  float:left;
  margin-left:3%;
  margin-top:0.5%;
}

.company .descriptionblock .description{
  font-size:150%;
  margin-top:0%;
  margin-bottom:0%;
  color: #1B3B51;
}

.company .locationblock{
  float:none;
  margin-left:42%;
  margin-right: 0%;
  margin-top:8.5%;
  width: 20%;
}

.company .locationblock .location{
  font-size:120%;
  margin-top:0%;
  margin-bottom:0%;
  color: #1B3B51;
}

@media screen and (max-width: 600px) {
  .company .logoblock{
    width: 60%;
    margin-left: 18%;
    margin-bottom: 2%;
  }

  .company .logoblock .logo{
    width:100%;
    margin-top:2%;
  }

  .company .nameblock{
    width: 96%;
    margin-left: 2%;
  }

  .company .nameblock .name{
    font-size: 200%;
    text-align: center;
  }

  .company .dateblock{
    float: none;
    margin-top: 40%;
    width: 100%;
  }

  .company .dateblock .date{
    font-size: 150%;
    text-align: center;
  }

  .company .descriptionblock{
    float: none;
  }

  .company .descriptionblock .description{
    font-size: 150%;
    text-align: center;
  }

  .company .locationblock{
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
    margin-bottom: 3%;
  }

  .company .locationblock .location{
    font-size: 100%;
    text-align: center;
  }
}
/*END PROFESSIONAL*/
