/*BEGINNING BLOG*/

.posts .logoblock{
  float:left;
  margin-left:3.5%;
  width: 20%;
}

.posts .logoblock .logo{
  width: 90%;
}

.posts .nameblock{
  float:right;
  margin-right:70%;
  margin-top: 5%;
}

.posts .nameblock .name{
  font-size: 220%;
  margin-top: 0%;
  margin-bottom: 0%;
}

.posts .nameblock .name:link{
  color:white;
  text-decoration: none;
}

.posts .nameblock .name:visited{
  color:white;
  text-decoration: none;
}

.posts .nameblock .name:hover{
  color: #453054;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .posts .logoblock{
    float:none;
    margin-left:20%;
    width: 60%;
  }

  .posts .logoblock .logo{
    width: 90%;
  }

  .posts .nameblock{
    float:none;
    margin-left:38%;
    margin-top: 5%;
  }

  .posts .nameblock .name{
    font-size: 220%;
    margin-top: 0%;
    margin-bottom: 0%;
  }
}

/*END BLOG*/
