.nameblock{
  margin-bottom: 0%;
  padding-bottom: 0%;
  margin-left: 10%;
}

.nameblock .name{
  margin-left: 23%;
  margin-top: 15%;
  margin-right: 25%;
  font-size: 400%;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

.lineblock .lines{
  margin-top: 0%;
  margin-left: 25%;
  margin-right: 0%;
  font-size: 200%;
  margin-bottom: 0.5%;
}

.titleblock{
  margin-top: 0%;
}

.titleblock .title{
  font-size: 120%;
  margin-left: 29.5%;
  margin-top: 0%;
  padding-top: 0%;
}

.counter{
  position: absolute;
  bottom: 2%;
  right: 2%;
}

@media screen and (max-width: 600px) {
  .nameblock{
    margin-bottom: 0%;
    padding-bottom: 0%;
    margin-left: 0%;
  }

  .titleblock{
    margin-top: 0%;
  }

  .nameblock .name{
    margin-left: 0%;
    padding-left: 15%;
    margin-top: 50%;
    margin-right: 0%;
    font-size: 220%;
    padding-bottom: 0%;
    margin-bottom: 0%;
  }

  .lineblock .lines{
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 10%;
    font-size: 100%;
    margin-bottom: 0.5%;
  }

  .titleblock .title{
    font-size: 70%;
    margin-left: 0%;
    margin-top: 0%;
    padding-top: 0%;
    padding-left: 12%;

  }

}
