/*BEGINNING PROFESSIONAL*/

#logoey {
  width: 30%;
  margin-left: 35%;
  margin-top: 0%;
}

#fechaey {
  margin-right: 3%;
}

#logoima{
  width: 50%;
  margin-left: 20%;
}

#fechaima{
  margin-right: 3%;
}

.company {
  background-color: #AEC8D9;
  overflow: auto;
  margin-left: 3.5%;
  margin-right: 3.5%;
}

.company .logoblock{
  float:left;
  width:30%;
  margin-left:7%;
  margin-top: 1.5%;
  margin-bottom: 1%;
}

.company .logoblock .logo{
  width:100%;
  margin-top:2%;
  margin-bottom:2%;
}

.company .text{
  float:right;
  width: 60%;
  margin-top: 1.5%;
  margin-bottom: 1%;
}

.company .nameblock{
  float: left;
  margin-left:3%;
  width: 48%;
}

.company .nameblock .name{
  font-size: 200%;
  margin-top:0%;
  margin-bottom:0%;
  margin-left:0%;
  color: #1B3B51;
}

.company .descriptionblock{
  float: left;
  margin-left:3%;
  margin-top:1%;
  width: 46%;
}

.company .descriptionblock .description{
  font-size:150%;
  margin-top:0%;
  margin-bottom:0%;
  color: #1B3B51;
}

.company .locationblock{
  float: left;
  margin-left:3%;
  margin-right: 0%;
  margin-top:1%;
  width: 46%;
}

.company .locationblock .location{
  font-size:120%;
  margin-top:0%;
  margin-bottom:0%;
  color: #1B3B51;
}

.company .dateblock{
  float:right;
  margin-top: 3.5%;
  margin-right: 8%;
}

.company .dateblock .date{
  font-size:220%;
  margin-top:0%;
  margin-bottom:0%;
  color: #1B3B51;
}

@media screen and (max-width: 600px) {
  #logoey{
    width: 40%;
  }

  #logoima{
    width: 50%;
    margin-left: 30%;
  }

  .company .logoblock{
    width: 60%;
    margin-left: 18%;
    margin-bottom: 2%;
    float: none;
  }

  .company .logoblock .logo{
    width:100%;
    margin-top:2%;
  }

  .company .text{
    float:none;
    width: 100%;
    padding-top: 0%;
  }

  .company .nameblock{
    width: 100%;
    margin-left: 0%;
    float: none;
  }

  .company .nameblock .name{
    font-size: 200%;
    text-align: center;
  }

  .company .dateblock{
    float: none;
    width: 100%;
    margin-top: 0%;
  }

  .company .dateblock .date{
    font-size: 150%;
    text-align: center;
  }

  .company .descriptionblock{
    float: none;
    width: 100%;
    margin-left: 0%;
  }

  .company .descriptionblock .description{
    font-size: 150%;
    text-align: center;
  }

  .company .locationblock{
    width: 100%;
    float: none;
    margin-left: 0%;
    margin-bottom: 2%;
  }

  .company .locationblock .location{
    font-size: 100%;
    text-align: center;
  }
}
/*END PROFESSIONAL*/
