/*BEGINNING BLOG*/

.posts{
  background-color: #AEC8D9;
  margin-left: 3.5%;
  margin-right: 3.5%;
  overflow: auto;
}

.posts .logoblock{
  margin-top: 1%;
  float:left;
  margin-left:4%;
  width: 20%;
  margin-bottom: 1%;
}

.posts .logoblock .logo{
  width: 90%;
}

.posts .nameblock{
  float:right;
  margin-right:70%;
  margin-top: 7%;
}

.posts .nameblock .name{
  font-size: 220%;
  margin-bottom: 0%;
}

.posts .nameblock .name:link{
  text-decoration: none;
  color: #1B3B51;
}

.posts .nameblock .name:visited{
  color: #1B3B51;
  text-decoration: none;
}

.posts .nameblock .name:hover{
  color: #453054;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .posts .logoblock{
    float:none;
    margin-left:21%;
    width: 60%;
  }

  .posts .logoblock .logo{
    width: 90%;
  }

  .posts .nameblock{
    float:none;
    margin-left:38%;
    margin-top: 3%;
    margin-bottom: 2%;
  }

  .posts .nameblock .name{
    font-size: 220%;
    margin-top: 0%;
    margin-bottom: 0%;
  }
}

/*END BLOG*/
